<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="css/main.css" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="glass"></div>
    <div class="bg-img bg-img2">
      <img src="img/background.jpg" alt="" />
    </div>
    <div class="logo">
      <img src="img/profile.png" alt="" />
    </div>

    <div class="container">
      <h1>Hello <%= user %></h1>

      <br /><br />

      <form action="/logout?_method=DELETE" method="POST">
        <button class="btn-logout" type="submit">Log out</button>
      </form>
    </div>
  </body>
</html>
